---

# General timeout,
# typically used within the k8s module for wait durations.
# One of the most time-consuming containers to start is Keycloak,
# which may take 7 minutes or so to become ready.
wait_timeout: 600
# Wait for volume binding?
# Probably unless multi-zone deployments
# where the PVC will not bind until the 'consumer' pod appears.
wait_for_bind: no
# Volume binding timeout (seconds)
bind_timeout: 60

# The valid ingress certificate issuer values
cert_issuer_set:
- staging
- production

# What's the IngressController Class?
ingress_class: nginx

# Postgres --------------------------------------------------------------------

# The infrastructure database version.
# For AWX the minimum version is 15+
pg_image: informaticsmatters/rdkit-cartridge-debian
pg_version: Release_2024_03_3
# The image registry for the PostgreSQL container image
pg_image_registry: docker.io

# Postgres superuser details
pg_user: postgres
pg_user_password: "{{ lookup('password', '/dev/null length=12 chars=ascii_letters,digits') }}"
pg_database: postgres

# CPU and Memory requests and limits
# 1GB memory request/limit is more than enough,
# with shared buffers about 40% of that
pg_cpu_request: 100m
pg_cpu_limit: 1000m
pg_mem_request: 1Gi
pg_mem_limit: 1Gi

# Keycloak --------------------------------------------------------------------

# The Keycloak image version and image registry
kc_version: '26.0.5'
kc_image: informaticsmatters/keycloak
kc_image_registry: docker.io

# Keycloak database credentials.
kc_db_password: "{{ lookup('password', '/dev/null length=10 chars=ascii_letters') }}"

# CPU and Memory requests and limits
kc_cpu_request: 100m
kc_cpu_limit: 2
kc_mem_request: 500Mi
kc_mem_limit: 1Gi

# RabbitMQ --------------------------------------------------------------------

# CPU and Memory requests and limits
rabbitmq_cpu_request: 200m
rabbitmq_cpu_limit: 4
rabbitmq_mem_request: 300Mi
rabbitmq_mem_limit: 0
