---

# Do not use our comprehensive/standard lint rules
# as this repository contains a number of YAML files
# cloned (copied) from other sources.

rules:
  indentation: {spaces: 2, indent-sequences: false}

ignore: |
  roles/ingress-controller/templates/ingress-nginx.yaml.j2
  roles/ingress-controller/templates/nlb-service.yaml.j2
