---

# Do not use our comprehensive/standard lint rules
# as this repository contains a number of YAML files
# cloned (copied) from other sources.

rules:
  indentation: {spaces: 2, indent-sequences: false}
  truthy:
    allowed-values:
    - 'yes'
    - 'no'
    - 'true'
    - 'false'
  new-lines:
    type: unix
  new-line-at-end-of-file: enable

ignore: |
  .github/
  .venv/
  roles/core/templates/pc-im.yaml.j2
  roles/ingress-controller/templates/ingress-nginx.yaml.j2
  roles/ingress-controller/templates/nlb-service.yaml.j2
  roles/provisioner-cinder/files/cinder-csi-controllerplugin-rbac.yaml
  roles/provisioner-cinder/files/cinder-csi-nodeplugin.yaml
  roles/provisioner-cinder/files/cinder-csi-controllerplugin.yaml
  roles/provisioner-cinder/files/cinder-csi-nodeplugin-rbac.yaml
  roles/provisioner-efs/templates/deployment.yaml.j2
  roles/provisioner-efs/templates/serviceaccount.yaml.j2
  roles/provisioner-efs/templates/storageclass.yaml.j2
  roles/provisioner-nfs/templates/deployment.yaml.j2
  roles/provisioner-nfs/templates/serviceaccount.yaml.j2
  roles/provisioner-cinder/templates/storageclass.yaml.j2
  roles/provisioner-cinder/templates/statefulset-controllerplugin.yaml.j2
  roles/infrastructure-recovery/templates/job-postgres-recovery.yaml.j2
  roles/infrastructure/templates/configmap-postgres-init.yaml.j2
  roles/infrastructure/templates/cronjob-postgres-backup-hourly.yaml.j2
  roles/infrastructure/templates/cronjob-postgres-backup-daily.yaml.j2
  roles/infrastructure/templates/cronjob-postgres-backup-weekly.yaml.j2
  roles/infrastructure/templates/serviceaccount-im-infra.yaml.j2
  roles/infrastructure/templates/statefulset-keycloak.yaml.j2
  roles/infrastructure/templates/statefulset-postgres.yaml.j2
  roles/infrastructure/templates/ingress-keycloak.yaml.j2
  provisioning/ingress-controller/ingress-nginx-2.9.1.yaml
