---

# Infrastructure parameter template file.
# Tune accordingly and replace all "SetMe" values with something meaningful
# where the corresponding application is also set to 'present'.

# General ---------------------------------------------------------------------

wait_for_bind: no

# Cert-Manager installation ---------------------------------------------------

cm_state: present
cm_letsencrypt_email: SetMe

# EFS installation ------------------------------------------------------------

efs_state: present
efs_backing_volume_name: im-efs

# Postgres installation -------------------------------------------------------

pg_vol_storageclass: gp2
pg_vol_size_g: 10

pg_bu_state: absent
pg_bu_vol_storageclass: efs
pg_bu_vol_size_g: 25

# Keycloak installation -------------------------------------------------------

kc_state: present

kc_admin: admin
kc_admin_password: SetMe

kc_hostname: SetMe
kc_cert_issuer: production

# AWX installation ------------------------------------------------------------

ax_state: present

ax_admin: admin
ax_admin_password: SetMe

ax_hostname: SetMe
ax_cert_issuer: production
