---
kind: ConfigMap
apiVersion: v1
metadata:
  name: efs-provisioner
  namespace: {{ efs_namespace }}
data:
  file_system_id: {{ cluster_efs_id }}
  aws_region: {{ cluster_region }}
  provisioner_name: {{ efs_provisioner_name }}
