---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: efs-provisioner
  namespace: {{ efs_namespace }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: efs-provisioner
  template:
    metadata:
      name: efs-provisioner
      labels:
        app: efs-provisioner
    spec:
      serviceAccountName: efs-provisioner

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ efs_node_purpose }}

      containers:
      - name: efs-provisioner
        image: {{ efs_provisioner_registry }}/external_storage/efs-provisioner:{{ efs_provisioner_tag }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        resources:
          limits:
            cpu: {{ efs_cpu_limit }}
            memory: {{ efs_mem_limit }}
          requests:
            cpu: {{ efs_cpu_request }}
            memory: {{ efs_mem_request }}
        env:
        - name: FILE_SYSTEM_ID
          valueFrom:
            configMapKeyRef:
              name: efs-provisioner
              key: file_system_id
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: efs-provisioner
              key: aws_region
        - name: PROVISIONER_NAME
          valueFrom:
            configMapKeyRef:
              name: efs-provisioner
              key: provisioner_name
        volumeMounts:
        - name: pv-volume
          mountPath: /persistentvolumes
      volumes:
      - name: pv-volume
        nfs:
          server: {{ cluster_efs_address }}
          path: /
