---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: efs-provisioner
  namespace: {{ efs_namespace }}
{% if infra_dockerhub_pullsecret %}
imagePullSecrets:
- name: dockerhub-pull-secret
{% endif %}
