---

- name: Install PriorityClasses
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'pc-im.yaml.j2') }}"
    wait: yes
  when: core_deploy_priority_classes|bool

- name: Install CertManager ClusterIssuer for Let's Encrypt
  kubernetes.core.k8s:
    definition: "{{ lookup('template', item) }}"
    wait: yes
  loop:
  - clusterissuer-production.yaml.j2
  - clusterissuer-staging.yaml.j2
  when: core_deploy_cluster_issuer|bool
