---

- name: Remove PodSecurityPolicies
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', item) }}"
    wait: yes
  loop:
  - psp-im-core-unrestricted.yaml.j2

- name: Remove PriorityClasses
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', item) }}"
    wait: yes
  loop:
  - pc-im.yaml.j2
