---

- name: Prep
  include_tasks: prep.yaml

# Namespace and basic material ------------------------------------------------

- name: Get namespace ({{ infra_namespace }})
  kubernetes.core.k8s_info:
    kind: Namespace
    api_version: v1
    name: "{{ infra_namespace }}"
  register: n_result

- name: Assert namespace exists
  ansible.builtin.assert:
    that: n_result.resources | length == 1

# RabbitMQ --------------------------------------------------------------------

- name: Deploy RabbitMQ
  block:

  - name: RabbitMQ assertions
    ansible.builtin.assert:
      that:
      - kc_cert_issuer in cert_issuer_set

  - name: RabbitMQ
    kubernetes.core.k8s:
      definition: "{{ lookup('template', item) }}"
      wait: yes
      wait_timeout: "{{ wait_timeout }}"
    loop:
    - rabbitmqcluster.yaml.j2

  - name: Wait for RabbitMQ to become Ready ({{ wait_timeout }} seconds)
    kubernetes.core.k8s_info:
      kind: Pod
      name: rabbit-server-0
      namespace: "{{ infra_namespace }}"
    register: rabbitmq_result
    until: >-
      rabbitmq_result.resources | length > 0
      and rabbitmq_result.resources[0].status is defined
      and rabbitmq_result.resources[0].status.containerStatuses is defined
      and rabbitmq_result.resources[0].status.containerStatuses | length > 0
      and rabbitmq_result.resources[0].status.containerStatuses[0].ready
    delay: 30
    retries: "{{ (wait_timeout | int / 30) | int }}"

  - name: Install RabbitMQ Ingress
    kubernetes.core.k8s:
      definition: "{{ lookup('template', 'ingress-rabbitmq.yaml.j2') }}"
      wait: yes
      wait_timeout: "{{ wait_timeout }}"
    when: rabbitmq_hostname | string | length > 0

  when: rabbitmq_state | string == 'present'
