---

- name: Prep
  include_tasks: prep.yaml

# Include sensitive (Ansible Vault) variables based on the installation name.
# We include 'sensitive-local.vault' variables if the installation name is 'local'.
# The user will need to provide the vault password.

- name: Include sensitive (vault) variables ({{ infra_installation_name }})
  ansible.builtin.include_vars:
    file: sensitive-{{ infra_installation_name }}.vault
  when: infra_installation_name | length > 0

- name: Display k8s_auth_host
  ansible.builtin.debug:
    var: k8s_auth_host

- name: Display k8s_auth_api_key
  ansible.builtin.debug:
    var: k8s_auth_api_key

- name: Display k8s_kubeconfig
  ansible.builtin.debug:
    var: k8s_kubeconfig

- name: Assert authentication (no KUBECONFIG)
  ansible.builtin.assert:
    that:
    - k8s_auth_host|length > 0
    - k8s_auth_api_key|length > 0
    msg: "Define KUBECONFIG or set 'k8s_auth_host' and 'k8s_auth_api_key'"
  when: k8s_kubeconfig|string|length == 0

- name: Assert authentication (KUBECONFIG)
  ansible.builtin.assert:
    that:
    - k8s_auth_host|length == 0
    - k8s_auth_api_key|length == 0
  when: k8s_kubeconfig|string|length > 0

# Go...

- name: Deploy (without KUBECONFIG)
  module_defaults:
    group/k8s:
      host: "{{ k8s_auth_host }}"
      api_key: "{{ k8s_auth_api_key }}"
  when: k8s_kubeconfig|string|length == 0
  block:

  - name: Deploy
    include_tasks: deploy.yaml
    when: infra_state|string == 'present'
  - name: Undeploy
    include_tasks: undeploy.yaml
    when: infra_state|string == 'absent'

- name: Deploy (with KUBECONFIG)
  module_defaults:
    group/k8s:
      kubeconfig: "{{ k8s_kubeconfig }}"
  when: k8s_kubeconfig|string|length > 0
  block:

  - ansible.builtin.include_tasks: deploy.yaml
    when: infra_state|string == 'present'
  - ansible.builtin.include_tasks: undeploy.yaml
    when: infra_state|string == 'absent'
