---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: csi-cinder-sc-delete
provisioner: cinder.csi.openstack.org
reclaimPolicy: Delete
allowVolumeExpansion: {{ cinder_allow_volume_expansion }}
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: csi-cinder-sc-retain
provisioner: cinder.csi.openstack.org
reclaimPolicy: Retain
allowVolumeExpansion: {{ cinder_allow_volume_expansion }}
