---

# Deploy (or un-deploy)?
# One of 'present' or 'absent'.
# If we un-deploy the entire infrastructure deployment is removed -
# the namespace, database, PSPs etc.
infra_state: present
# The priority class applied to DB, keycloak and RabbitMQ (if set)
infra_priority_class: ""

# The (optional) 'installation' name. This is used to uniquely identify the Infrastructure for a
# specific customer. It is used by the playbook to load customer-specific variables,
# which are encoded in sensitive ('.vault') files that are located in the
# role's 'vars' directory. To load the variables the user will also need to provide
# the playbook with the vault password.
infra_installation_name: ""

# If set, use this kubernetes config, rather than K8S credentials.
# You would set this if executing the playbooks locally, i.e. not from
# and AWX server, where K8S_AUTH_HOST, K8S_AUTH_API_KEY environment
# variables are set and used.
k8s_kubeconfig: ""

# Database (postgres) ---------------------------------------------------------

# Deploy (or un-deploy)?
# One of 'present' or 'absent'.
pg_state: present

# Skip PostgreSQL init config?
# Set to 'no' if you intend to initialise or restore the users and databases yourself.
pg_create_users_and_databases: yes

pg_volume_name: pg
# The database volume size (Gi).
pg_vol_size_g: 50
# The StorageClass of the postgres persistent volume.
# An blank class implied the cluster default.
pg_vol_storageclass: " "

# User database variables
# required by the 'create-user-db' play
# and normally set by the user.
#
# The user is required to define the variables 'db'
# and 'db_user_namespace' to define the name fo the database
# and the namespace from where it wil be used.
db_user: "{{ lookup('password', '/dev/null length=6 chars=ascii_letters') }}"
db_user_password: "{{ lookup('password', '/dev/null length=8 chars=ascii_letters,digits') }}"

# Database (backups) ----------------------------------------------------------

# Deploy backup strategy?
# One of 'present' or 'absent'
pg_bu_state: present
# The database backup volume size (Gi).
pg_bu_vol_size_g: 100
# The backup volume StorageClass.
# This must accommodate the ReadWriteMany access mode.
# An blank class implied the cluster default.
pg_bu_vol_storageclass: " "

# Backup to AWS S3?
# You still need a local backup volume (above).
# Defining these variables means the backup is also written to S3.
#
# If you set 'pg_bu_s3_bucket_name' you must set all the 'pg_bu_s3' variables
# and the S3 (AWS) credentials you supply must be able to read and write
# to the named bucket.
pg_bu_s3_bucket_name: ""
pg_bu_s3_default_region: eu-central-1
pg_bu_s3_access_key_id: ""
pg_bu_s3_secret_access_key: ""
# Mount S3 as the backup destination?
# If true no backup volume is required or created -
# just a bucket and S3 credentials
pg_bu_volume_is_s3: no
# The S3 URL (used by s3fs in the backup and recovery containers)
pg_bu_volume_s3_url: "https://s3.{{ pg_bu_s3_default_region }}.amazonaws.com"

# Do we use rclone to copy the backups (to an S3 bucket)?
pg_bu_use_rclone: no

# The backup container image tag.
pg_bu_image_tag: "15.15"
# The registry
pg_bu_image_registry: docker.io

# Backups run as a CronJob.
# Set the schedule (and the number of hourly backups to keep) here.

# Daily, weekly, and monthly schedules
# (only used if the corresponding history is 1 or more)
pg_bu_hourly_schedule: '1 * * * *'
pg_bu_daily_schedule: "31 3 * * *"
pg_bu_weekly_schedule: "41 3 * * 0"
pg_bu_monthly_schedule: "51 3 1 * *"

pg_bu_hourly_history: 0
# ...and daily history (0 implies no backup)
# If you use daily you must also use hourly.
pg_bu_daily_history: 0
# If you use weekly you must also use daily.
pg_bu_weekly_history: 0
# If you use monthly you must also use weekly.
pg_bu_monthly_history: 0

# Keycloak --------------------------------------------------------------------

# Deploy (or un-deploy)?
# One of 'present' or 'absent'.
#
# During the infrastructure deployment stage keycloak database credentials
# and a database will be setup in the infrastructure database regardless -
# the Keycloak DB is (at the moment) part of the core database installation.
kc_state: present

# The hostname of the server that will host Keycloak,
# devoid of the protocol (i.e. 'https://' assumed so just 'example.com')
kc_hostname: SetMe
# By default we use the /auth path (built-in to Keycloak).
# You can set this to blank for domain-based routing but (atm)
# other paths are not supported as I believe that requires changes to
# standalone.xml in keycloak.
# See: -
# https://stackoverflow.com/questions/44624844/
#     configure-reverse-proxy-for-keycloak-docker-with-custom-base-url/54311713#54311713.
kc_hostname_path: ""
# Kubernetes certificate issuer.
# One of 'staging' or 'production' (rate-limited)
kc_cert_issuer: production

# The password to assign to the admin user of our Keycloak server.
kc_admin_password: "{{ lookup('password', '/dev/null length=12 chars=ascii_letters') }}"

# RabbitMQ --------------------------------------------------------------------

# Deploy (or un-deploy)?
# One of 'present' or 'absent'.
#
# During the infrastructure deployment stage keycloak database credentials
# and a database will be setup in the infrastructure database regardless -
# the Keycloak DB is (at the moment) part of the core database installation.
rabbitmq_state: present

# The RabbitMQ management server version to deploy,
# the version will have '-management' automatically applied as a postfix.
rabbitmq_version: 4.2.1

# The hostname of the server that will host Keycloak,
# devoid of the protocol (i.e. 'https://' assumed so just 'example.com').
# If not set (blank) no ingress is created.
rabbitmq_hostname: ""
rabbitmq_hostname_path: ""
# Kubernetes certificate issuer.
# One of 'staging' or 'production' (rate-limited)
rabbitmq_cert_issuer: production

# The password to assign to the admin user of our Keycloak server.
rabbitmq_user: admin
rabbitmq_user_password: "{{ lookup('password', '/dev/null length=12 chars=ascii_letters') }}"

rabbitmq_replicas: 2

rabbitmq_vol_storageclass: " "
rabbitmq_vol_size_g: 1
