---
kind: ConfigMap
apiVersion: v1
metadata:
  name: postgres-init
  namespace: {{ infra_namespace }}
data:
  01-init.sh: |
    #!/bin/bash
    set -e
{% if pg_create_users_and_databases %}
    psql -v ON_ERROR_STOP=1 --username "{{ pg_user_fact }}" --dbname "{{ pg_database_fact }}" <<-EOSQL
{% if kc_db_password_fact is defined %}
        -- Configure a user and database for Keycloak
        CREATE USER keycloak;
        ALTER USER keycloak WITH PASSWORD '{{ kc_db_password_fact }}';
        CREATE DATABASE keycloak;
        GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak;
{% endif%}
{% if ax_userax_user_password_fact_fact is defined %}
        -- Configure a user and database for AWX
        CREATE USER {{ ax_user_fact }};
        ALTER USER {{ ax_user_fact }} WITH PASSWORD '{{ ax_user_password_fact }}';
        CREATE DATABASE {{ ax_database_fact }};
        GRANT ALL PRIVILEGES ON DATABASE {{ ax_database_fact }} TO {{ ax_user_fact }};
{% endif%}
    EOSQL
{% endif %}
