---
kind: ConfigMap
apiVersion: v1
metadata:
  name: rabbitmq-conf
  namespace: {{ infra_namespace }}
data:
  rabbitmq.conf: |
    # See https://www.rabbitmq.com/docs/logging
    log.dir = /var/log/rabbitmq
    log.file.level = debug
    log.file.rotation.size = 10485760
    log.file.rotation.count = 5
    log.file.rotation.compress = true
    management.tcp.port = 15672
    management.tcp.ip = 0.0.0.0
    stream.advertised_host = rabbitmq.{{ infra_namespace }}.svc.cluster.local'
    stream.advertised_port = 5552
