---
kind: ConfigMap
apiVersion: v1
metadata:
  name: delete-user-db-script
  namespace: {{ infra_namespace }}
data:
  script.sh: |
    #!/bin/sh

    export PGUSER={{ pg_user_fact }}
    export PGPASSWORD={{ pg_user_password_fact }}
    export PGHOST=database.{{ infra_namespace }}.svc

    echo "# Deleting database (${DB})..."
    psql --command "DROP DATABASE IF EXISTS ${DB}"

    echo "# Deleting user (${DB_USER})..."
    psql --command "DROP USER IF EXISTS ${DB_USER}"

    echo "# Delete complete"
