---
kind: ConfigMap
apiVersion: v1
metadata:
  name: postgres-init
  namespace: {{ infra_namespace }}
data:
  01-init.sh: |
    #!/bin/bash
    set -e
{% if pg_create_users_and_databases %}
    psql -v ON_ERROR_STOP=1 --username "{{ pg_user_fact }}" --dbname "{{ pg_database_fact }}" <<-EOSQL
{% if kc_db_password_fact is defined %}
        -- Configure a user and database for Keycloak
        CREATE USER keycloak;
        ALTER USER keycloak WITH PASSWORD '{{ kc_db_password_fact }}';
        CREATE DATABASE keycloak;
        GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak;
        ALTER DATABASE keycloak OWNER TO keycloak;
{% endif%}
    EOSQL
{% endif %}
