---
kind: ConfigMap
apiVersion: v1
metadata:
  name: alter-user-password-script
  namespace: {{ infra_namespace }}
data:
  script.sh: |
    #!/bin/sh

    export PGUSER={{ pg_user_fact }}
    export PGPASSWORD={{ pg_user_password_fact }}
    export PGHOST=database.{{ infra_namespace }}.svc

    echo "# Altering user (${DB_USER})..."
    psql --command "ALTER USER ${DB_USER} WITH PASSWORD '${DB_USER_PASSWORD}'"
    echo "# Altered user (${DB_USER})"
