---
kind: ConfigMap
apiVersion: v1
metadata:
  name: rabbitmq-plugins
  namespace: {{ infra_namespace }}
data:
  enabled_plugins: |
    [rabbitmq_management,rabbitmq_prometheus,rabbitmq_stream,rabbitmq_stream_management].
