---
kind: CronJob
apiVersion: batch/v1
metadata:
  name: postgres-backup-weekly
  namespace: {{ infra_namespace }}
spec:
  schedule: '{{ pg_bu_weekly_schedule }}'
  startingDeadlineSeconds: 180
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            name: postgres-backup-weekly
        spec:
          serviceAccountName: {{ infra_namespace_service_account }}

          # A 'preferred' (not guaranteed)
          # node selection affinity...
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: informaticsmatters.com/purpose
                    operator: In
                    values:
                    - core

{% if all_image_preset_pullsecret_name|string|length > 0 %}
          imagePullSecrets:
          - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

          containers:
          - image: {{ pg_bu_image_registry }}/informaticsmatters/sql-backup:{{ pg_bu_image_tag }}
            name: postgres-backup-weekly
{% if pg_bu_image_tag in ['latest', 'stable'] %}
            imagePullPolicy: Always
{% else %}
            imagePullPolicy: IfNotPresent
{% endif %}
            terminationMessagePolicy: FallbackToLogsOnError

{% if pg_bu_volume_is_s3 %}
            # In order to use 'fuse' and mount S3 buckets
            # the container needs to run as 'privileged'
            # and as SYS-ADMIN.
            securityContext:
              privileged: true
              capabilities:
                add:
                - SYS_ADMIN
{% endif %}

            resources:
              limits:
                cpu: 1
                memory: 1Gi
              requests:
                cpu: 100m
                memory: 128Mi
            env:
            - name: BACKUP_TYPE
              value: weekly
            - name: BACKUP_COUNT
              value: '{{ pg_bu_weekly_history }}'
            - name: BACKUP_PRIOR_TYPE
              value: daily
            - name: BACKUP_PRIOR_COUNT
              value: '{{ pg_bu_daily_history }}'
{% if pg_bu_volume_is_s3 %}
            - name: BACKUP_VOLUME_IS_S3
              value: 'yes'
            - name: BACKUP_VOLUME_S3_URL
              value: '{{ pg_bu_volume_s3_url }}'
{% endif %}
{% if pg_bu_s3_bucket_name %}
            - name: AWS_BUCKET_NAME
              value: '{{ pg_bu_s3_bucket_name }}'
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: im-s3
                  key: access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: im-s3
                  key: secret_access_key
{% endif %}
{% if not pg_bu_volume_is_s3 %}
            volumeMounts:
            - name: backup-data
              mountPath: /backup
{% endif %}

{% if not pg_bu_volume_is_s3 %}
          volumes:
          - name: backup-data
            persistentVolumeClaim:
              claimName: pg-bu
{% endif %}

          restartPolicy: Never
