---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: keycloak
  namespace: {{ infra_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ kc_cert_issuer|lower }}"
    kubernetes.io/ingress.class: "nginx"
{#
    # Proxy buffering - required while developing authentication for
    # the Mini-Apps Data Tier. Without this, authentication with the
    # early connexion-based Data Tier resulted in the error
    # “upstream sent too big header while reading response header from upstream”
    # (see https://ma.ttias.be/nginx-proxy-upstream-sent-big-header-reading-response-header-upstream/)
    # To fix this we add the following annotations.
#}
    ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-buffering: 'on'
    nginx.ingress.kubernetes.io/proxy-buffers-number: '4'
    nginx.ingress.kubernetes.io/proxy-buffer-size: '128k'
    nginx.ingress.kubernetes.io/proxy-busy-buffer-size: '256k'
spec:
  tls:
  - hosts:
    - {{ kc_hostname }}
    secretName: im-keycloak-tls
  rules:
  - host: {{ kc_hostname }}
    http:
      paths:
      - path: /{{ kc_hostname_path }}
        backend:
          serviceName: keycloak
          servicePort: http
