---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: rabbitmq
  namespace: {{ infra_namespace }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ rabbitmq_cert_issuer|lower }}"
spec:
  ingressClassName: {{ ingress_class }}
  tls:
  - hosts:
    - {{ rabbitmq_hostname }}
    secretName: rabbitmq-tls
  rules:
  - host: {{ rabbitmq_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: rabbitmq
            port:
              name: http
