---
kind: Job
apiVersion: batch/v1
metadata:
  name: alter-user-password
  namespace: {{ infra_namespace }}
spec:
  selector:
    name: alter-user-password
  template:
    metadata:
      labels:
        name: alter-user-password
    spec:
      serviceAccountName: {{ infra_namespace_service_account }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ infra_node_purpose }}

      containers:
      - name: alter-user-password
        image: informaticsmatters/sql-client:{{ pg_sql_client_tag }}
        env:
        - name: DB_USER
          value: {{ db_user }}
        - name: DB_USER_PASSWORD
          value: {{ db_user_password }}
        volumeMounts:
        - mountPath: /home/client/script.sh
          name: alter-user-password
          subPath: script.sh

      volumes:
      - name: alter-user-password
        configMap:
          name: alter-user-password-script
          defaultMode: 0777
      restartPolicy: Never
