---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pg-bu
  namespace: {{ infra_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
{% if pg_bu_vol_storageclass != ' ' %}
  storageClassName: '{{ pg_bu_vol_storageclass }}'
{% endif %}
  resources:
    requests:
      storage: '{{ pg_bu_vol_size_g }}Gi'
