---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: rabbitmq-log
  namespace: {{ infra_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
{% if rabbitmq_vol_storageclass != ' ' %}
  storageClassName: {{ rabbitmq_vol_storageclass }}
{% endif %}
  resources:
    requests:
      storage: '{{ rabbitmq_log_vol_size_g }}Gi'
