---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: im-infra-sa
  namespace: "{{ infra_namespace }}"
roleRef:
  kind: Role
  name: im-psp-unrestricted
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: "{{ infra_namespace_service_account }}"
  namespace: "{{ infra_namespace }}"
