---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: im-psp-unrestricted
  namespace: "{{ infra_namespace }}"
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs: ['use']
  resourceNames: ['im-core-unrestricted']
