---

# A RoleBinding to allow the cert-manager cm-acme-http-solver Pod
# to deploy to our namespace.

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: default-sa
  namespace: "{{ infra_namespace }}"
roleRef:
  kind: Role
  name: im-psp-unrestricted
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: default
  namespace: "{{ infra_namespace }}"
