---
kind: Secret
apiVersion: v1
metadata:
  name: im-keycloak
  namespace: {{ infra_namespace }}
stringData:
  database_user: {{ kc_user_fact }}
  database_user_password: {{ kc_user_password_fact }}
  database_name: {{ kc_database_fact }}
  keycloak_hostname: {{ kc_hostname_fact }}
  keycloak_admin_user: {{ kc_admin_fact }}
  keycloak_admin_user_password: {{ kc_admin_password_fact }}
