---
kind: Secret
apiVersion: v1
metadata:
  name: im-rabbitmq
  namespace: {{ infra_namespace }}
stringData:
  user: {{ rabbitmq_user_fact }}
  password: {{ rabbitmq_user_password_fact }}
  erlang_cookie: {{ rabbitmq_erlang_cookie_fact }}
