---
kind: Secret
apiVersion: v1
metadata:
  name: im-awx
  namespace: {{ infra_namespace }}
stringData:
  database_user: {{ ax_user_fact }}
  database_user_password: {{ ax_user_password_fact }}
  database_name: {{ ax_database_fact }}
  ax_admin: {{ ax_admin_fact }}
  ax_admin_password: {{ ax_admin_password_fact }}
