---
kind: Secret
apiVersion: v1
metadata:
  name: im-s3
  namespace: {{ infra_namespace }}
stringData:
  default_region: '{{ pg_bu_s3_default_region_fact }}'
  access_key_id: '{{ pg_bu_s3_access_key_id_fact }}'
  secret_access_key: '{{ pg_bu_s3_secret_access_key_fact }}'
