---
kind: Secret
apiVersion: v1
metadata:
  name: im-data-manager
  namespace: {{ infra_namespace }}
stringData:
  database_user: {{ dm_user_fact }}
  database_user_password: {{ dm_user_password_fact }}
  database_name: {{ dm_database_fact }}
