---
kind: Secret
apiVersion: v1
metadata:
  name: im-keycloak-manager
  namespace: {{ infra_namespace }}
stringData:
  keycloak_manager_user: {{ kc_manager_fact }}
  keycloak_manager_user_password: {{ kc_manager_password_fact }}
