---
kind: Secret
apiVersion: v1
metadata:
  name: im-postgres
  namespace: {{ infra_namespace }}
stringData:
  database_admin_user: {{ pg_user_fact }}
  database_admin_user_password: {{ pg_user_password_fact }}
  database_name: {{ pg_database_fact }}
