---
kind: Secret
apiVersion: v1
metadata:
  name: im-keycloak
  namespace: {{ infra_namespace }}
stringData:
  database_user_password: {{ kc_db_password_fact }}
  keycloak_hostname: {{ kc_hostname_fact }}
  keycloak_admin_user_password: {{ kc_admin_password_fact }}
