---
kind: Secret
apiVersion: v1
metadata:
  name: database-secrets
  namespace: {{ db_user_namespace }}
stringData:
  database_user: {{ db_user }}
  database_user_password: {{ db_user_password }}
  database_name: {{ db }}
