---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ infra_namespace_service_account }}
  namespace: {{ infra_namespace }}
{% if infra_dockerhub_pullsecret %}
imagePullSecrets:
- name: dockerhub-pull-secret
{% endif %}
