---
kind: Service
apiVersion: v1
metadata:
  name: rabbitmq
  namespace: {{ infra_namespace }}
spec:
  selector:
    name: rabbitmq
  ports:
  - name: empd
    port: 4369
    targetPort: empd
  - name: stream
    port: 5552
    targetPort: stream
  - name: ampq
    port: 5672
    targetPort: ampq
  - name: http
    port: 15672
    targetPort: http
  - name: erlang
    port: 25672
    targetPort: erlang
