---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: keycloak
  namespace: {{ infra_namespace }}
spec:
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: keycloak
  serviceName: keycloak
  template:
    metadata:
      name: keycloak
      labels:
        app: keycloak
    spec:
{% if infra_priority_class %}
      priorityClassName: {{ infra_priority_class }}
{% endif %}
      serviceAccountName: {{ infra_namespace_service_account }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists

{% if all_image_preset_pullsecret_name|string|length > 0 %}
      imagePullSecrets:
      - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

      containers:
      - name: keycloak
        image: {{ kc_image_registry }}/{{ kc_image }}:{{ kc_version }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - name: http
          containerPort: 8080
        - name: https
          containerPort: 8443
        resources:
          limits:
            cpu: {{ kc_cpu_limit }}
            memory: {{ kc_mem_limit }}
          requests:
            cpu: {{ kc_cpu_request }}
            memory: {{ kc_mem_request }}
        startupProbe:
          httpGet:
            path: /auth
            port: http
            scheme: HTTP
          initialDelaySeconds: 60
          timeoutSeconds: 1
          periodSeconds: 2
          successThreshold: 1
          failureThreshold: 250
        readinessProbe:
          httpGet:
            path: /auth
            port: http
            scheme: HTTP
          initialDelaySeconds: 20
          timeoutSeconds: 1
          periodSeconds: 2
          successThreshold: 1
          failureThreshold: 250
        livenessProbe:
          httpGet:
            path: /auth/realms/master
            port: http
            scheme: HTTP
          initialDelaySeconds: 20
          timeoutSeconds: 1
          periodSeconds: 2
          successThreshold: 1
          failureThreshold: 150
        env:
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: {{ kc_admin_password_fact }}
        - name: KC_DB_PASSWORD
          value: {{ kc_db_password_fact }}
        - name: KC_HOSTNAME
          value: {{ kc_hostname }}
