---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: keycloak
  namespace: {{ infra_namespace }}
spec:
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      app: keycloak
  serviceName: keycloak
  template:
    metadata:
      name: keycloak
      labels:
        app: keycloak
    spec:
      serviceAccountName: {{ infra_namespace_service_account }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose-application
                operator: Exists

{% if all_image_preset_pullsecret_name|string|length > 0 %}
      imagePullSecrets:
      - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

      containers:
      - name: keycloak
        image: {{ kc_image_registry }}/{{ kc_image }}:{{ kc_version }}
        imagePullPolicy: IfNotPresent
        terminationMessagePolicy: FallbackToLogsOnError
        ports:
        - name: http
          containerPort: 8080
        - name: https
          containerPort: 8443
        resources:
          limits:
            cpu: {{ kc_cpu_limit }}
            memory: {{ kc_mem_limit }}
          requests:
            cpu: {{ kc_cpu_request }}
            memory: {{ kc_mem_request }}
        # Keycloak takes a significant period of time to initialise.
        # On some compute instances 7 minutes has passed before it's
        # become 'ready'. Here we delay for 5 minutes
        # and then give it a further 4 minutes (at 20 second intervals)
        # for the /auth endpoint to become available.
        readinessProbe:
          initialDelaySeconds: 180
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 12
          httpGet:
            path: /auth/realms/master
            port: http
        livenessProbe:
          initialDelaySeconds: 180
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 12
          httpGet:
            path: /auth/
            port: http
        env:
        - name: KEYCLOAK_ADMIN_PASSWORD
          value: {{ kc_admin_password_fact }}
        - name: KC_DB_PASSWORD
          value: {{ kc_db_password_fact }}
