---
kind: Secret
apiVersion: v1
metadata:
  name: manager-{{ ir_realm }}
  namespace: {{ ir_namespace }}
stringData:
  username: '{{ ir_realm_manager_fact }}'
  password: '{{ ir_realm_manager_password_fact }}'
