---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_namespace }}
spec:
  selector:
    matchLabels:
      app: nfs-client-provisioner
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ nfs_node_purpose }}

      containers:
      - name: nfs-client-provisioner
        image: quay.io/external_storage/nfs-client-provisioner:{{  nfs_provisioner_tag }}
        resources:
          limits:
            cpu: {{ nfs_cpu_limit }}
            memory: {{ nfs_mem_limit }}
          requests:
            cpu: {{ nfs_cpu_request }}
            memory: {{ nfs_mem_request }}
        env:
        - name: PROVISIONER_NAME
          value: {{ nfs_provisioner_name }}
        - name: NFS_SERVER
          value: {{ nfs_server_address }}
        - name: NFS_PATH
          value: {{ nfs_path }}
        volumeMounts:
        - name: nfs-client-root
          mountPath: /persistentvolumes
      volumes:
      - name: nfs-client-root
        nfs:
          server: {{ nfs_server_address }}
          path: {{ nfs_path }}
