---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_namespace }}
spec:
  selector:
    matchLabels:
      app: nfs-client-provisioner
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
      - name: nfs-client-provisioner
        image: quay.io/external_storage/nfs-client-provisioner:{{  nfs_provisioner_tag }}
        volumeMounts:
        - name: nfs-client-root
          mountPath: /persistentvolumes
        env:
        - name: PROVISIONER_NAME
          value: {{ nfs_provisioner_name }}
        - name: NFS_SERVER
          value: {{ nfs_server_address }}
        - name: NFS_PATH
          value: {{ nfs_path }}
      volumes:
      - name: nfs-client-root
        nfs:
          server: {{ nfs_server_address }}
          path: {{ nfs_path }}
