---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_namespace }}
{% if infra_dockerhub_pullsecret %}
imagePullSecrets:
- name: dockerhub-pull-secret
{% endif %}
