---
kind: Job
apiVersion: batch/v1
metadata:
  name: postgres-recovery
  namespace: {{ infra_namespace }}
spec:
  selector:
    name: postgres-recovery
  template:
    metadata:
      labels:
        name: postgres-recovery
    spec:
      serviceAccountName: {{ infra_namespace_service_account }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: informaticsmatters.com/purpose
                operator: In
                values:
                - core

{% if all_image_preset_pullsecret_name|string|length > 0 %}
      imagePullSecrets:
      - name: {{ all_image_preset_pullsecret_name }}
{% endif %}

      containers:
      - image: {{ recovery_image_registry }}/informaticsmatters/sql-recovery:{{ recovery_image_tag }}
        name: postgres-recovery
        imagePullPolicy: {{ recovery_imagepullpolicy }}
        terminationMessagePolicy: FallbackToLogsOnError
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 500m
            memory: 128Mi
        env:
        - name: FROM_BACKUP
          value: {{ recovery_from_backup }}
        - name: PGHOST
          value: database
        - name: PGUSER
          valueFrom:
            secretKeyRef:
              name: im-postgres
              key: database_admin_user
        - name: PGADMINPASS
          valueFrom:
            secretKeyRef:
              name: im-postgres
              key: database_admin_user_password
        volumeMounts:
        - name: backup-data
          mountPath: /backup

      volumes:
      - name: backup-data
        persistentVolumeClaim:
          claimName: {{ recovery_claim_name }}
      restartPolicy: Never
