---
name: lint and doc build

# -----------------
# Control variables (GitHub Secrets)
# -----------------
#
# (n/a)
#
# -----------
# Environment (GitHub Environments)
# -----------
#
# Environment         (n/a)

on:
- push

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.8.3
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true
    - name: Install poetry dependencies
      run: |
        poetry install --no-interaction --no-root
    - name: Pre-commit check
      run: |
        source .venv/bin/activate
        pre-commit run --all-files
    - name: Lint
      run: |
        source .venv/bin/activate
        yamllint .
        find . -type f -name '*.yaml.j2' -exec yamllint {} +
    - name: Build docs with Sphinx
      run: |
        source .venv/bin/activate
        sphinx-build -b html doc doc/build
